.ant-picker-date-range-wrapper
  margin-left 19px
  .ant-picker-range-arrow
    margin-left 30%
.ant-input-group-addon
  padding 0
  border none
.ant-alert-icon
  left 4px
  top 5px
.treeWrap
  width 100%
  min-height 320px
  display flex
  border 1px solid #ddd
  .tree
    flex 1
  .checkList
    flex 1
    border-left 1px solid #ddd
    padding 16px 0 0 16px
    min-height 320px
    .label-list
      display flex
      flex-direction column
      .ant-checkbox-group-item
        margin-bottom 6px