.group-export-list
  .list-content
    .tr-w64
      min-width 64px
    .tr-w88
      min-width 88px
    .tr-w50
      min-width 50px
    .tr-w40
      min-width 40px
.ant-alert-icon
  left 4px
  top 5px
