.user-manage
  min-height calc(100vh - 125px)
  .comp-list-content
    min-height calc(100vh - 141px)
    margin 16px
    padding-top 16px
    box-sizing border-box

// 使tree叶子节点横向排列，不独占一行
.roleTree .ant-tree-list-holder-inner
  display block !important
.role-drawer
  .ant-drawer-body
    margin-bottom 24px
.parents
  clear left
.childrens
  float left
  width 220px
  // .ant-tree-indent
  //   display none

