.group-manage
  background-color #fff
  margin 16px
  .ant-tabs-nav-wrap
    padding-left 16px
  .comp-list-search
    padding 0 24px
  // .group-push-list
  //   .list-content
  //     .tr-w64
  //       min-width 64px
  //     .tr-w88
  //       min-width 88px
  //     .tr-w160
  //       min-width 160px
  //     .tr-w50
  //       min-width 50px
  //     .over-hidden
  //       max-width 86px
  //       overflow hidden
  //       text-overflow ellipsis
  //       white-space nowrap
  //   .tree
  //     .ant-input-group-addon
  //       padding 0!important
  //       border none
  //     .site-tree-search-value 
  //       color #f50
  // .group-export-list
  //   .list-content
  //     .tr-w64
  //       min-width 64px
  //     .tr-w88
  //       min-width 88px
  //     .tr-w50
  //       min-width 50px