.dag-process
  .dag-cate
    width 20%
    .containerStyle
      margin-right 8px
      text-align center
    .dag-drag-box
      border solid 1px #49aede
  
  .dag-style
    position absolute
    width 80%
    top 0px
    right 0
    bottom 0
    border solid 1px #dbeff8
    backgroundColor #fff

    .dag-node
      max-width 240px
      word-break break-word
      white-space normal
      line-height: 1.2
      padding 4px 0
  .dag-right
    .icon-style
      font-size 18px
      color rgba(0,0,0,.45)
.oner-dag 
  .oner-dag-container   
    .oner-dag-node
      background-color #fff