
.noborder-input
  width 100%
  display: inline-block
  position:relative


  input
    font-size:14px
  //padding:10px 10px 10px 5px
  //padding: 6px 0 8px 5px
    display:block
    line-height: 32px
  //width:200px
    border:none
// background: #f0f2f4
  input:required
    box-shadow: none
  input:focus
    outline:none
  input:-webkit-autofill
    box-shadow: 0 0 0 30px white inset
  input::input-placeholder
          color:rgba(0, 0, 0, 0.25)
          font-size: 14px


  label
    color:rgba(0, 0, 0, 0.25)
    font-size:14px
    font-weight:normal
    position:absolute
    pointer-events:none
    left:5px
    top:10px
    transition:0.2s ease all


  /* active state */
  input:focus ~ label, input:valid ~ label
    display: none

  .bar
    position:relative
    display:block
//width:200px
  .bar:before, .bar:after
    content:''
    height:1px
    width:0
    bottom:1px
    position:absolute
    background:#5264AE
    transition:0.2s ease all
  .bar:before
    left:50%
  .bar:after
    right:50%


  input:focus ~ .bar:before, input:focus ~ .bar:after
    width:50%


  .highlight
    position:absolute
    height:60%
    width:100px
    top:25%
    left:0
    pointer-events:none
    opacity:0.5

  input:focus ~ .highlight
    animation:inputHighlighter 0.3s ease


  @keyframes inputHighlighter
    from
      background:#5264AE
    to
      width:0
      background:transparent