.page-login
  min-width 1200px
  min-height calc(100vh - 0px)
  min-height 700px
  padding 24px
  /*
  background-color #118BFC
  background linear-gradient(25deg, #193378 38%, #192347 38%, #193378 45%, #192347 45%, #193378 70%, #192347 70%, #193378 85%, #192347 85%)
  */
  .head-area
    font-size 16px
    padding-right 20px
    .official-website
      color #FFFFFF
      cursor pointer
      padding-top 10px
      text-decoration none
    .dt-logo
      padding-top 12px
  .inner-area
    min-height calc(100vh - 48px)
    .content
      width 1150px
      height 530px
      box-shadow 8px 8px 20px 0 rgba(7,56,156,0.20)
      .main-pic
        position relative
        .title-container
          width 746px
          position absolute
          z-index 10
          top 40px
          .dt-title
            color #fff
            font-size 24px
            margin-bottom 2px
          .dt-subtitle
            font-size 14px
            color #47AEFB
            padding: 0 20px 0
        .svg-container
          width 100%
          position absolute
        img
          position absolute
          width 100%
          height 100%
      .operation
        width 404px
        padding 36px
        background-color #fff
  .extra-area
    color #99D5FB
    font-size 14px
    .help
      margin-bottom 8px
      span
        margin-right 16px
        cursor pointer

.component-new-operation
  .code-image
    width 100px
    margin-left 8px
    .img
      width 100%
      height 100%
  .error-msg
    position relative !important
    top -10px !important
  .action
    color #0056DC
    margin-bottom: 36px
    .tab
      width 50%
      height 36px
      line-height 28px
      text-align center
      display inline-block
      border-bottom 1px solid #c6dee9
      cursor pointer
      font-size 16px
    .active
      border-bottom 1px solid #0056DC
      position relative
      .caret-blue
        top 30px
        left 76px
        position absolute
        width: 0
        height: 0
        border-bottom: 7px solid #0056DC
        border-right: 6px solid transparent
        border-left: 6px solid transparent
      .caret-white
        top 32px
        left 76px
        position absolute
        width: 0
        height: 0
        border-bottom: 7px solid white
        border-right: 6px solid transparent
        border-left: 6px solid transparent

  .form
    display block
    .formItem
      margin-bottom 36px
      border-bottom 1px solid #c6dee9
      position relative
  .sub-action
    margin-top 16px
    font-size 16px
    a
     color #0056DC
     cursor pointer
  .btn-box
    margin-top 24px
  .msg-btn
    height 36px
    margin-bottom 8px
    position absolute
    right 0
    bottom 0


  .tip-text
    text-align center
    margin-top 20px
    color #999999
    font-size 16px
    a
      color #118BFC
      cursor pointer
  .tip-agreement
    text-align left
    font-size 14px
    position relative
    input
      font-size 16px
      cursor pointer
      margin 0 8px 0 0
    .error-field
      top 22px


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
