.system-user
  .user-manage
    min-height calc(100vh - 110px)
    .object-tree
      height calc(100vh - 113px)
      overflow-y auto
      width 330px
    .comp-list-content
      min-height calc(100vh - 141px)
      margin 16px
      padding-top 16px
      box-sizing border-box
      width -webkit-fill-available
.ant-drawer-body
  margin-bottom 24px