.config-content
  min-height calc(100vh - 141px)
//   .header
//     height 24px
//     margin 0 0 8px 24px
//     display flex
//     .bgbt
//       background-color #2466ff
//     .bgbt.bgbt:hover
//       background-color #1890ff
//     .enableButton
//       line-height 24px
//       height 24px
//       padding 0 16px
//       width 80px
//       margin-right 8px
//       font-size 12px
//       border-radius 0
//       border 1px solid #d9d9d9
//       display inline-block !important
//       box-sizing border-box
//       border-radius 2px
//       transition all .3s
//   .system_portrait_table
//     padding 0 24px
//     .table
//       padding 0
//       text-align left
//       .tr-w64
//         min-width 64px
//       .tr-w200
//         min-width 200px
//       .ant-table-cell
//         text-align left
//         .FBAC
//           .mr16
//             margin 0 16px 0 0
// .ant-form-item
//   margin-bottom 8px
//   .ant-radio-wrapper
//     font-size 12px
//     height 12px
//   .select-item
//     .ant-select-selector
//       overflow auto
//       white-space nowrap
//       text-overflow ellipsis


